@import "./_base.settings";
@import "./_base.fonts";
@import "./_base.palette";
@import "./_base.mixins";

* {
    box-sizing: border-box;
}

body
{
    background-color: $main-color;
    padding: 0;
    line-height: $base-line-height;
    font-weight: $font-weight-normal;
}

h1,h2,h3,h4,h5,h6
{
    // Set heading font weights
    font-weight: $font-weight-heading;
}

// Set heading sizes
h1 { font-size: $header-size-1; }
h2 { font-size: $header-size-2; }
h3 { font-size: $header-size-3; }
h4 { font-size: $header-size-4; }
h5 { font-size: $header-size-5; }
h6 { font-size: $header-size-6; }